body {
  background-color: #ebebeb;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  margin: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

p {
  white-space: normal;
}

input[type="submit"],
button[type="button"] {
  border: none;
  display: block;
  background-color: #054952;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 7px 14px 7px 14px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px #c1c1c1;
}

input[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #0e6c79;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input[type="text"],
input[type="password"] {
  color: #000000;
  border: 1px solid #c2c0ca;
  border-radius: 4px;
  font-style: normal;
  font-size: 18px;
  margin-left: 5px;
  box-shadow: 0px 2px 2px 0px #dddddd;
}

textarea {
  border-radius: 8px;
  margin-top: 8px;
}

textarea::placeholder {
  text-align: right;
}

select {
  height: 24px;
  border-radius: 4px;
}

.error {
  color: rgb(160, 0, 0);
  font-size: 1.0rem;
  font-family: "Open Sans", sans-serif;
  display: inline;
  margin-left: 10px;
}

#header {
  background-color: #ebebeb;
  position: fixed;
  font-size: 1.3rem;
  top: 0;
  margin: auto;
  margin-left: 0.5%;
  height: 100px;
  width: 99%;
  display: block;
  transition: top 1s;
  z-index: 1;
}

#top {
  height: 90px;
}

#usermenu {
  float: right;
  margin-top: 15px;
  padding-top: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 1420px) {
  #ctf-navbar {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {

  #usermenu,
  #add-btn,
  #ctf-navbar,
  #edit-btn,
  #search-input,
  #search-btn {
    display: none;
  }
}

/*Dropdown button Usermenu */
.drop-btn {
  border: none;
  cursor: pointer;
  background-color: #ebebeb;
}

.dropdown-content {
  display: none;
  background-color: #e5e5e5;
  width: 150px;
  float: right;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px #383838;
  font-size: 1.1rem;
  font-weight: normal;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #026161;
  transition: all 0.5s ease;
}

/*Navigation bar */
#navbar {
  background-color: #cfcfcf;
  position: fixed;
  width: 99%;
  border-radius: 8px;
  z-index: -1;
  box-shadow: 0px 2px 1px 0px #aaaaaa;
}

#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 35px 10px 35px;
  text-decoration: none;
  font-weight: bold;
}

#navbar a:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#navbar a:hover {
  background-color: #dfdfdf;
  color: #037474;
  transition: all 0.5s ease;
}

#navbar a.active {
  background-color: #168d8d;
  color: #ffffff;
}

/* Page content */
#content {
  margin-top: 125px;
  padding: 20px;
}

#clear-btn,
#cancel-btn {
  background-color: #333333;
  margin-left: 12px;
}

#clear-btn:hover,
#cancel-btn:hover {
  background-color: #555555;
  transition: all 0.5s ease;
}

.edit {
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}

.edit:hover {
  color: #077770;
  transition: all 0.5s ease;
}

#comments-container {
  border-top: 2px solid #005555;
  width: 70%;
  margin-top: 40px;
}

.comment {
  border-bottom: 2px solid #005555;
  padding: 10px;
}

#welcome-container {
  display: grid;
  grid-template-columns: auto 1fr;
  /*columns: image, div */
  grid-gap: 65px;
  /*spacing between image and div */
}

#ctf-navbar {
  height: 444px;
  width: 18%;
  float: left;
  font-weight: bold;
  padding: 0px 0px 0px 30px;
  background-color: #dddddd;
  margin: 10px 30px 0px 30px;
  border-radius: 30px;
  box-shadow: 0px 2px 2px 0px #c1c1c1;
}

#ctf-navbar p {
  width: fit-content;
  background-color: #e5e5e5;
  padding: 6px 8px 6px 8px;
  border-radius: 6px;
  margin: 4px 0px 12px 0px;
  box-shadow: 0px 2px 2px 0px #c1c1c1;
}

#ctf-navbar p:hover {
  cursor: pointer;
  background-color: #ececec;
  color: #047c7c;
  transition: all 0.5s ease;
}

#ctf-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 73%;
  margin-top: 4px;
}

#ctf-container a {
  padding-left: 20px;
  background-color: #dddddd;
  margin: 5px;
  border-radius: 18px;
  color: #333333;
  text-decoration: none;
  box-shadow: 0px 2px 2px 0px #c1c1c1;
}

#ctf-container a:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #078179;
  transition: all 0.5s ease;
}

#ctf-container a.attemptedCTF {
  cursor: pointer;
  background-color: #0b7880;
  color: #cccccc;
  opacity: 30%;
  transition: all 0.5s ease;
}

#ctf-container a.attemptedCTF:hover {
  cursor: pointer;
  background-color: #048876;
  color: #eeeeee;
  opacity: 60%;
  transition: all 0.5s ease;
}

.pagination {
  width: 500px;
  margin-top: 30px;
  margin-left: 40%;
  text-align: center;
}

.pagination a {
  background-color: #dadada;
  color: rgb(56, 56, 56);
  text-decoration: none;
  text-align: center;
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 3px;
  box-shadow: 0px 2px 2px 0px #c1c1c1;
}

.pagination a:hover {
  background-color: #e4e4e4;
  color: #006666;
  transition: all 0.5s ease;
}

.pagination a.active {
  color: #dfdfdf;
  background-color: #0b7070;
  text-decoration: none;
  font-size: 1.4rem;
}

#search-input {
  height: 12px;
  width: 300px;
  margin-right: 4px;
  border-radius: 6px;
  padding: 12px;
  margin-top: 20px;
  box-shadow: 0px 2px 2px 0px #dddddd;
}

#key-input {
  height: 12px;
  width: 300px;
  margin: 3px 3px 0px 0px;
  border-radius: 6px;
  padding: 10px;
}

#ctfAttempt-container {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 28% 52% 15%;
  height: 380px;
  width: 63%;
  background-color: #dfdfdf;
  margin-top: 10px;
  margin-left: 20px;
  padding: 30px 70px 40px 70px;
  border-radius: 40px;
}

#ctfAttempt-container div {
  padding: 0px 10px 0px 10px;
}

#edit-container {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 28% 58% 14%;
  height: 360px;
  width: 65%;
  background-color: #dfdfdf;
  margin-top: 10px;
  margin-left: 20px;
  padding: 20px 50px 30px 50px;
  border-radius: 40px;
}

#edit-container div {
  padding: 0px 10px 0px 10px;
}

#download-ctf,
#show-hint {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #005555;
}

#download-ctf:hover,
#show-hint:hover {
  color: #187e7e;
  transition: all 0.5s ease;
}

#correct-key {
  font-weight: bold;
  color: #077770;
}

#incorrect-key {
  font-weight: bold;
  color: #9b0000;
}

#add-btn,
#edit-btn,
#search-btn {
  margin: 0px 12px 0px 6px;
  padding: 6px 12px 7px 12px;
  background-color: #008181;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0px 2px 2px 0px #c1c1c1;
}

#add-btn:hover,
#edit-btn:hover,
#search-btn:hover {
  background-color: #109990;
  color: #eeeeee;
  transition: all 0.5s ease;
}

#delete-btn {
  font-weight: bold;
  background-color: #9b0000;
  float: right;
}

#delete-btn:hover {
  background-color: #b81e1e;
  transition: all 0.5s ease;
}

#achievement {
  width: 68%;
  float: right;
}

#achievement-container {
  height: 160px;
  border: #222222;
  border-radius: 20px;
  border-style: groove;
}

#avatar {
  height: 300px;
  width: 300px;
  border-color: #999999;
  border-style: groove;
  border-radius: 50%;
}

textarea#hint,
textarea#des {
  resize: none;
}
/* DHH */
/* DHH */
/* DHH */
/*footer*/

/*set up color and font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
   --main-color:#006e65;
   --white:#0b2239;
   --ctu-blue: #0d39d8;
   --neon-green: #8ded20;
   --neon-yellow: #c9f40b;
   --sec-color: #46cf0f;
   --red:#e74c3c;
   --white:#fff;
   --black:#222;
   --light-color:#c7c3c3;
   --main-bg-color:#dfdfdf;
}

.footer{
  background-color: #dedede;
  margin: 40px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  }
  
  .footer .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-between;
    gap: 5px;
    padding-left: 8%;
  }
  
  .footer .footer-container .footer-box{
    color: var(--dark-blue);
    padding: 10px;
    margin-top: 5px;
  }
  
  .footer .footer-container .footer-box h4{
    margin: 0px 0px 10px 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Heavitas", sans-serif;
    text-transform: uppercase;
    background: linear-gradient(180deg, var(--main-color) 25% ,var(--dark-blue));
    background-clip: text;
  }
  
  .footer .footer-container .footer-box li{
    list-style-type: none;
  }
  
  .footer .footer-container .footer-box li a{
    color: var(--dark-blue);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    transition: all 0.4s ease;
  }
  
  .footer .footer-container .footer-box li a:hover{
    color: var(--main-color);
    text-shadow: 0 3px 15px var(--main-color);
  }
  
  .footer .footer-container .footer-box img{
    width: 150px;
  }
  
  .footer .footer-container .footer-box .footer-text p{
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-blue);
  }
  
  .footer .footer-container .footer-box .icons i{
    font-size: 25px;
    color: var(--dark-blue);
    transition: all 0.5s ease;
  }
  
  .footer .footer-container .footer-box .icons i:hover{
    color: var(--main-color);
  }
  
  .introduction{
    margin-top: 120px;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
  }
  
  .introduction .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; margin: auto;
    padding: 10px 10px;
    font-size: 20px;
  }
  
  .introduction .box-container .box{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
  .introduction .box-container .box img{
    width: 450px;
  }
  
  .introduction .box-container .box p{
    text-align: left;
    text-align: justify;
    font-size: 18px;
    color: var(--dark-blue);
  }
  
  .introduction .box-container .box p span{
    font-weight: 700;
    font-size: 23px;
    color: var(--main-color);
  }
  
  .introduction .box-container .box p a{
    text-decoration: none;
    font-family: 'K2D';
    font-weight: 700;
    font-size: 20px;
    color: var(--ctu-blue);
  }
  
  /*feature box*/
  .feature-box{
    margin: 10px 250px;
    align-items: center;
    justify-content: center;
  }
  
  .feature-box .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: flex-start;
    gap: 15px; 
    padding: 10px 20px 10px 20px;
    flex: 1 100px;
  }
  
  .feature-box .box-container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 15px;
    transition: all 0.4s ease;
  }
  
  .feature-box .box-container .box:hover{
    background-color: #ededed;
    transform: scale(1.025);
    box-shadow: 2px 2px 4px #006e65;
  }
  
  .feature-box .box-container .box img{
    position: relative; 
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
    border-radius: 10%;
    margin-bottom: 5px;
  }
  
  .feature-box .box-container .box h3{
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    color: var(--main-color);
  }
  
  .feature-box .box-container .box p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    color: var(--dark-blue);
  }
  
  /* info */
  .info{
    margin: 15px auto;
    padding: 15px;
  }
  
  .info h1{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    font-weight: 800;
  }
  
  .info .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .info .box-container .box{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-items: flex-start;
    gap: 30px; padding: 5px;
    flex: 1 100px;
  }
  
  .info .box-container .box .minibox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.4s ease;
  }
  
  .info .box-container .box .minibox:hover{
    box-shadow: 2px 2px 4px var(--main-color);
  }
  
  .info .box-container .box .minibox img{ 
    height: 150px;
    align-items: center;
    margin: 5px;
    padding: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  .info .box-container .box .minibox img:hover{ 
    transform: scale(1.1);
  }
  
  .info .box-container .box .minibox span{
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color:var(--dark-blue);
  }
  
  /* about */
  .about{
    margin: 20px auto;
    padding: 10px 10px;
  }
  
  .about .member{
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
  }
  
  .about .member .member-container {
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: center;
    align-items: flex-start;
    gap: 20px; padding: 5px;
    flex: 1 1 100px;
  }
  
  .about .member .member-container .member-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.4s ease-out;
  }
  
  .about .member .member-container .member-box span{
    font-size: 20px;
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
  }
  
  .about .member .member-container .member-box h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: var(--dark-blue);
  }
  
  .about .member .member-container .member-box .member-img{
    position: relative; 
    width: 170px; 
    height: 170px; 
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .about .member .member-container .member-box .member-img img{
    width: 100%; height: auto;
  }
  
  .about .member .member-container .member-box:hover{
    transform: scale(1.025);
    box-shadow: 2px 2px 4px var(--main-color);
  }
   
  /*page-content*/
    
  .page-content{
    margin: 8px;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }

  .page-content h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
  }

  .page-content .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; margin: 5px;
    padding: 8px 8px;
    font-size: 20px;
  }

  .page-content .box-container .box{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 3px;
    margin: 2px 5px;
  }

  .page-content .box-container .box img{
    width: 400px;
    border-radius: 10px;
  }

  .page-content .box-container .box h3{
    font-size: 30px;
    margin-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
  }
  
  .page-content .box-container .box p{
    text-align: left;
    text-align: justify;
    font-size: 18px;
  }

  .page-content .box-container .box p span{
    font-weight: 700;
    font-size: 23px;
    color: var(--main-color);
  }

    /*note box*/
    .note-box{
      margin: 10px 250px;
      align-items: center;
      justify-content: center;
    }
    
    .note-box .box-container{
      display: grid;
      grid-template-columns: repeat(3, minmax(400px, 1fr));
      justify-content: center;
      align-items: flex-start;
      gap: 15px; 
      padding: 10px 20px 10px 20px;
      flex: 1 100px;
    }
    
    .note-box .box-container .box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      padding: 15px;
      transition: all 0.4s ease;
    }
    
    .note-box .box-container .box:hover{
      background-color: #ededed;
      transform: scale(1.025);
      box-shadow: 2px 2px 4px #006e65;
    }
    
    .note-box .box-container .box img{
      position: relative; 
      width: 100px; 
      height: 100px; 
      overflow: hidden; 
      border-radius: 10%;
      margin-bottom: 5px;
    }
    
    .note-box .box-container .box h3{
      font-size: 23px;
      font-weight: 600;
      margin: 0px;
      color: var(--main-color);
    }
    
    .note-box .box-container .box p{
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      justify-content: center;
      color: var(--dark-blue);
    }
    

  /* end DHH */
  /* end DHH */
  /* end DHH */
  /* LXT */
/* LXT */
/* LXT */
/* update 03/08/2024 */
#content_block {
  display: flex;
  justify-content: center;
}

#boxchat {
  border: 2px;
  border-radius: 10px;
  margin: 5px 10px 10px 5px;
  padding: 20px;
  box-shadow: 0px 2px 2px 0px #000000;
}

#news-content {
  display: inline;
  height: auto;
  padding: 0px;
  width: 60%;
}

#chat-content {
  display: inline;
  border-left: 4px solid #cfcfcf;
  padding: 0px 0px 0px 5px;
  width: 40%;
}

.author {
  margin-bottom: 7px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.button {
  color: #c2c0ca;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 530;
}

.button:hover {
  cursor: pointer;
  color: #87d40b;
  transition: all 0.5s ease;
}

.box-add {
  background-color: #eeeeee;
  border: 2px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 2px 2px 0px #c1c1c1;
  margin-bottom: 10px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  z-index: 1;
}

.box-add label {
  margin-left: 7px;
  color: #c2c0ca;
  font-size: 17px;
}

.box-add label:hover {
  cursor: pointer;
  color: #168d8d;
  transition: all 0.5s ease;
}

button#addNewsBtn_news,
button#addNewsBtn_chats {
  color: #777777;
  border: none;
  width: 100%;
  text-align: left;
  background: none;
  font-size: 17px;
}

button#addNewsBtn_news:hover {
  cursor: pointer;
  color: #168d8d;
  transition: all 0.5s ease;
}

button#addNewsBtn_chats:hover {
  cursor: pointer;
  color: #168d8d;
  transition: all 0.5s ease;
}


a#removeBtn {
  appearance: button;
  margin-left: auto;
  margin-right: 30px;
  background: none;
  padding: 7px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  border-radius: 8px;
}

a#removeBtn:hover {
  background-color: #37c1b5;
  color: #eeeeee;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.05s ease 0.2s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 10%);
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  padding: 1px 5px 2px 5px;
  border-radius: 5px;
  top: -25px;
  left: -45px;
  white-space: nowrap;
  opacity: 0;
  z-index: 2;
}

[data-title] {
  position: relative;
}

textarea::-webkit-input-placeholder {
  margin-left: 10px;
  text-align: left;
}

form#addNewsForm {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

#textNews {
  color: #000000;
  margin: 0px 20px 0px 15px;
  width: 96%;
  padding: 8px;
  font-size: 18px;
  resize: none;
}

#textChats {
  color: #000000;
  margin: 0px 20px 0px 15px;
  padding: 8px;
  width: 94%;
  font-size: 18px;
  resize: none;
}

#scrollChat {
  height: 330px;
  margin: 20px 0px 0px 0px;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column-reverse;
}

#navTab {
  background-color: #cfcfcf;
}

#navTab a#add-btn.non-active {
  background-color: #cfcfcf;
  color: #000000;
  border-radius: 8px;
  box-shadow: none;
  margin: 0px
}

.message_link {
  font-size: 18px;
  margin-left: 4px;
  color: #000000;
  font-weight: bold;
}

.message_link:hover {
  color: #037474;
  transition: all 0.5s ease;
}

/* end LXT */
/* end LXT */
/* end LXT */
/* NDB */
/* NDB */
/* NDB */
:root {
  --color-black: black;
  --color-white: white;
  --color-green: #37c1b5;
  --color-green-1: #278e85;

  --transition: all 300ms ease;
}

* {
  list-style: none;
  text-decoration: none;
  /* box-sizing: border-box; */
}

.lecture-container {
  margin-bottom: 40px;
}

.lectures hr {
  display: block;
  height: 20px;
  border: 0;
  border-top: 2px solid #005555;
  padding: 0;
}

.lectures #link-lecture .title-lecture {
  color: #333333;
  font-size: 27px;
  font-weight: bold;
  padding: 0;
}

.lectures #link-lecture .title-lecture:hover {
  cursor: pointer;
  color: #078179;
  transition: all 0.5s ease;
}

.add-edit-group-container {
  height: 340px;
  width: 63%;
  background-color: #dfdfdf;
  margin: 20px auto;
  margin-top: 70px;
  padding: 30px 70px 40px 70px;
  border-radius: 40px;
  box-shadow: 0px 5px 5px 0px #000000;
}

#title_lecture {
  width: 80%;
}

.icon-edit {
  width: 25px;
  height: 25px;
  text-align: center;
  display: block;
  border-radius: 3px;
  border-radius: 3px;
  transition: all 500ms ease;
}

.icon-edit:hover {
  width: 25px;
  height: 25px;
  background-color: #078179;
  ;
}

.edit-img {
  /* display: inline-block; */
  margin: auto;
  width: 25px;
  height: 25px;
}

.edit-img:hover {
  content: url('img/Dark-edit-icon.png');
}

.delete-img {
  /* display: inline-block; */
  margin: auto;
  width: 25px;
  height: 25px;
}

.delete-img:hover {
  content: url('img/Dark-Delete.png');
}

.head-lecture {
  width: 100%;
}

.head-lecture ul {
  visibility: hidden;
  opacity: 0;
}

.head-lecture:hover>ul {
  visibility: visible;
  opacity: 1;
}

.edit-delete {
  float: right;
  display: flex;
  gap: 5px;
}


.button-cluster {
  margin-top: 20px;
}

/* BUTTON READ MORE, READ LESS */

.btn-read-more {
  background: none;
  font-weight: bold;
  border: none;
}

.btn-read-more:hover {
  background-color: none;
  cursor: pointer;
  color: #078179;
  font-weight: bold;
  transition: var(--transition);
}

.more {
  display: none;
}

.more-open {
  display: inline;
  /* transition: height 2s; */
}

.dots-hide {
  display: none;
}

#author {
  float: right;
}

/* #edit-lecture-container {
    margin: auto;
    height: 360px;
    width: 65%;
    background-color: #dfdfdf;
    padding: 20px 50px 30px 50px;
    border-radius: 40px;
  } */

.add-lecture {
  width: 100%;
  /* background-color: yellow; */
}

.description-lecture-container {
  width: 100%;
  margin-top: 10px;
}

.btn-lecture-container #cancle-btn {
  float: right;
}

#description_lecture {
  width: 95%;
  ;
  height: 90px;
  margin-bottom: 10px;
  display: block;
  padding: 0.8rem 1.4rem;
  border-radius: 5px;
  resize: none;
}

.input-edit-add-title {
  height: 25px;
  width: 250px;
  font-size: 1.4rem;
}

.input-edit-add-des {
  font-size: 1.1rem;
}


/* end NDB */
/* end NDB */
/* end NDB */
