/* NDB */
/* NDB */
/* NDB */
:root {
    --color-black: black;
    --color-white: white;
    --color-green: #37c1b5;
    --color-green-1: #278e85;
  
    --transition: all 300ms ease;
  }

  * {
    list-style: none;
    text-decoration: none;
    /* box-sizing: border-box; */
  }
  
  .lecture-container {
    margin-bottom: 40px;
  } 
  
  .lectures hr {
    display: block;
    height: 20px;
    border: 0;
    border-top: 2px solid #005555;
    padding: 0;
  }

  .lectures #link-lecture .title-lecture {
    color: #333333;
    font-size: 27px;
    font-weight: bold;
    padding: 0;
  }
  
  .lectures #link-lecture .title-lecture:hover{
    cursor: pointer;
    color: #078179;
    transition: all 0.5s ease;
  }

  .icon-edit {
    width: 25px;
    height: 25px;
    text-align: center;
    display:block;
    border-radius: 3px;
  }

  .icon-edit:hover {
    width: 25px;
    height: 25px; 
    background-color: #078179;;
  }

  .edit-img {
    /* display: inline-block; */
    margin: auto;
    width: 25px;
    height: 25px;
  } 

  .edit-img:hover{
    content: url('img/Dark-edit-icon.png');
  }

  .delete-img {
    /* display: inline-block; */
    margin: auto;
    width: 25px;
    height: 25px;
  }

  .delete-img:hover {
    content: url('img/Dark-Delete.png');
  }

  .head-lecture {
    width: 100%;
  }

  .head-lecture ul {
    visibility: hidden;
    opacity: 0;
  }

  .head-lecture:hover > ul {
    visibility: visible;
    opacity: 1;
  }

  .edit-delete {
    float:right;
  }


  /* BUTTON READ MORE, READ LESS */

  #btn-read-more {
    background: none;
    font-weight: bold;
    border: none;
  }

  #btn-read-more:hover {
    background-color: none;
    cursor: pointer;
    color: #078179;
    font-weight: bold;
    transition: var(--transition);
  }

  #author {
    float:right;
  }

  #edit-lecture-container {
    margin: auto;
    height: 360px;
    width: 65%;
    background-color: #dfdfdf;
    padding: 20px 50px 30px 50px;
    border-radius: 40px;
  }
  
  .add-lecture {
    width: 100%;
    /* background-color: yellow; */
  }

  .description-lecture-container {
    width: 100%;
    margin-top: 10px;
  }

  .btn-lecture-container #cancle-btn {
    float:right;
  }

  #description_lecture {
    width: 95%;;
    height: 90px;
    margin-bottom: 10px;
    display: block;
    padding: 0.8rem 1.4rem;
    border-radius: 5px;
    resize: none;
  }



  /* end NDB */
  /* end NDB */
  /* end NDB */