/* LXT */
/* LXT */
/* LXT */
/* update 03/08/2024 */
  #content_block {
    display: flex;
    justify-content: center;
  }
  #boxchat {
    border: 2px;
    border-radius: 10px;
    margin: 5px 10px 10px 5px;
    padding: 20px;
    box-shadow: 0px 2px 2px 0px #000000;
  }
  #news-content {
    display: inline;
    height: auto;
    padding: 10px;
    width: 60%;
  }
  #chat-content {
    display: inline;
    border-left: 4px solid #111111;
    padding: 10px;
    width: 40%;
  }
  
  .author {
    margin-bottom: 7px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  
  .button {
    color:#c2c0ca;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 530;
  }
  
  .button:hover {
    cursor: pointer;
    color:#87d40b;
    transition: all 0.5s ease;
  }
  
  .box-add {
    background-image: linear-gradient(to left, #222222, #2e2e2e, #3c4b06);
    border: 2px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 2px 2px 0px #000000;
    margin-bottom: 10px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    z-index: 1;
  }
  .box-add label {
    margin-left: 7px;
    color:#c2c0ca;
    font-size: 17px;
  }
  .box-add label:hover {
    cursor: pointer;
    color:#87d40b;
    transition: all 0.5s ease;
  }
  button#addNewsBtn_news, button#addNewsBtn_chats {
    color:#c2c0ca;
    border: none;
    width: 100%;
    text-align: left;
    background: none;
    font-size: 17px;
  }
  button#addNewsBtn_news:hover {
    cursor: pointer;
    color:#87d40b;
    transition: all 0.5s ease;
  } 
  button#addNewsBtn_chats:hover {
    cursor: pointer;
    color:#87d40b;
    transition: all 0.5s ease;
  }
  input#submit-btn, button#cancel-btn {
    left: 15px;
  }
  a#removeBtn {
    appearance: button;
    margin-left: auto;
    margin-right: 30px;
    background:none;
    padding: 7px;
    text-decoration: none;
    color: #eeeeee;
    font-size: 20px;
    border-radius: 8px;
  }
  a#removeBtn:hover {
    background-color: #9cd400;
    color: #000000;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.5s ease;
  }
  
  [data-title]:hover:after {
      opacity: 1;
      transition: all 0.05s ease 0.2s;
      visibility: visible;
  }
  [data-title]:after {
      content: attr(data-title);
      background-color:hsl(0, 0%, 80%);
      color: hsl(0, 0%, 10%);
      font-size: 15px;
      font-weight: 300;
      position: absolute;
      padding: 1px 5px 2px 5px;
      border-radius: 5px;
      top: -25px;
      left: -45px;
      white-space: nowrap;
      opacity: 0;
      z-index: 2;
  }
  [data-title] {
      position: relative;
  }
  
  textarea::-webkit-input-placeholder {
    margin-left: 10px;
    text-align: left;
  }
  
  form#addNewsForm {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  
  #textNews {
    color:#000000;
    margin: 0px 20px 0px 15px;
    width: 100%;
    padding: 8px;
    font-size: 18px;
  }

  #textChats {
    color:#000000;
    margin: 0px 20px 0px 15px;
    padding: 8px;
    width: 97%;
    font-size: 18px;
  }

  #scrollChat {
    height: 330px;
    margin: 20px 0px 0px 0px;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column-reverse;
  }

  #navTab {
    background-color: #111111;
  }
  
  #navTab a#add-btn.non-active {
    background-color: #111111; 
    color: #eeeeee; 
    border-radius: 8px; 
    box-shadow: none; 
    margin: 0px
  }
  /* end LXT */
  /* end LXT */
  /* end LXT */